@page "/employeedetail/{id}"

<h3> Detail Karyawan @Employee.firstName . @Employee.lastName </h3>

<p> ID : @Employee.employeeId</p>
<p> Nama : @Employee.firstName  @Employee.lastName</p>
<p> Email Karyawan : @Employee.email</p>
<p> Tanggal Lahir : @Employee.dateOfBirth</p>
<p> Gender : @Employee.gender</p>
<p> ID Departemen Karyawan : @Employee.departmentId</p>
<p> Nama Departemen Karyawan : @Employee.departmentName</p>
